/* =============================================
--------------Kira LandingPage Css File -------- */

/* All sections general styles */
#about,
#services,
#features,
#portfolio,
#pricing,
#contact {
    padding:80px 0 0;
}

#home .section-title,
#about .section-title,
#services .section-title,
#features .section-title,
#portfolio .section-title,
#pricing .section-title,
#contact .section-title {
    text-align:center;
    color:#48cfad;
    text-transform:uppercase;
    margin-bottom:30px;
}

#about header,
#services header,
#features header,
#portfolio header,
#pricing header,
#contact header{
    color:#48cfad;
}

#home {
    background: url(../images/onepagebg.jpg) no-repeat center center;
    -webkit-background-size: %49 100%;
    background-size: %49 100%;
    background-attachment: fixed;
    height:auto;
    padding-top:150px;
    color:#fff;
    text-align:center;
    position:relative;
}

.overlay-bg {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
#text-ticker {
    color:#fff;
    text-align:center;
}

#text-ticker ul  {
    width:100%;    
}

#text-ticker ul li {
    font-size:36px;
    line-height:1.3;
    text-align:center;
}
/* Rewrite for bigger text */
h1, h2, h3, h4, h5, h6 {
    margin-top:0;
    line-height: 1.2;
}

h4, h5, h6 {
    font-weight:bold;
}

h1 {
    font-size:80px;
    
}

h2 {
    font-size:40px;
    list-style: 1.3;
}
h3 {
    font-size:24px;
    list-style: 1.3;
}


#home hr {
    border-top: 1px solid #f5f7fa;
}

.one-full-width {
    padding-top:80px;
}
.one-full-width-bg {
    padding-top:80px;
    background: #e6e9ed;  
}


#home .social-media li a,
#about .social-media li a,
#services .social-media li a,
#features .social-media li a,
#portfolio .social-media li a,
#pricing .social-media li a,
#contact .social-media li a   {
    padding:15px 0;
}

#home .social-media li a:hover,
#about .social-media li a:hover,
#services .social-media li a:hover,
#features .social-media li a:hover,
#portfolio .social-media li a:hover,
#pricing .social-media li a:hover,
#contact .social-media li a:hover   {
    color:#f5f7fa;
}
/* menu active */
#header .menu li a{
    -webkit-transition-duration:0.05s;
    -moz-transition-duration:0.05s;
    -o-transition-duration:0.05s;
    -ms-transition-duration:0.05s;
    transition-duration:0.05s;
}

#services,
#pricing {
    background: #e6e9ed;
    padding-bottom:80px;
}
#services hr.fancy-hr-left:after,
#services hr.fancy-hr-middle:after,
#services hr.fancy-hr-right:after,
#pricing hr.fancy-hr-left:after,
#pricing hr.fancy-hr-middle:after,
#pricing hr.fancy-hr-right:after {
    border-color: transparent transparent transparent #e6e9ed;
}
#services .services-list li .icon-container {
    background: #e6e9ed;
}

#services .announcement {
    background: #f5f7fa;
}

#features .services-list  {
    margin:25px 0;
}
.announcement h3 {

    margin:0 0 10px;
}
#services .announcement:after {
	border-color: transparent #e6e9ed transparent transparent;
}

.one-full-width-bg .services-list li .icon-container{
    background: #e6e9ed;
}
#portfolio {
    background:#656d78;
    padding-bottom:80px;
}
#portfolio hr.fancy-hr-left:after,
#portfolio hr.fancy-hr-middle:after,
#portfolio hr.fancy-hr-right:after {
    border-color: transparent transparent transparent #656d78;
}
#contact {
    padding-bottom:80px;
}

/* ================================================
---------- Responsive   ---------- */

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .one-full-width,
    .one-full-width-bg {
        padding-right:15px;
        padding-left:15px;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    h1 {
        font-size:40px;
    }
    h2 {
        font-size:25px;
    }
    #text-ticker ul li {
    font-size:18px;
    }
}