<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Kira Multipurpose Flat HTML Template</title>
        <meta name="description" content="">
        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/animate-custom.css">
        <link rel="stylesheet" href="css/prettyPhoto.css">
        <link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/colors/green.css" id="colors">
        <link rel="stylesheet" href="css/responsive-style.css">
        
        <!-- Favicon and Apple Icons -->
        <link rel="shortcut icon" href="images/icons/icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png" />
        <!-- Retina iPhone --> 
        <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png" />
        <!-- Retina iPad --> 
        <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png" />

        <!-- - Modernizr -jQuery - Pace -->
        <script src="js/modernizr-custom.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/pace.min.js"></script>
        
        <!-- Google map javascript api v3 -->
	    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD45Nu6JYgh1oKG5G9ut7Nr4QW48gx-6ug&amp;sensor=false"></script>
        
        <!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<script src="js/selectivizr-min.js"></script>
	    <![endif]-->
	    
    </head>
    <body>
    <div id="panel">
        <header>
            Kira Style Panel
            <div id="panel-button"><i class="icon-gears"></i></div><!-- #panel button -->
        </header>
        <div class="panel-content">
                <p>Customize Kira Template as you like. Make your options.</p>
                <hr>
                <div class="panel-title">
                    Predefined Colors
                </div><!-- .panel title -->
                <ul class="panel-list panel-list-color clearfix">
                    <li data-color="green.css" class="color-green"></li>
                    <li data-color="blue.css" class="color-blue"></li>
                    <li data-color="light-blue.css" class="color-light-blue"></li>
                    <li data-color="purple.css" class="color-purple"></li>
                    <li data-color="pink.css" class="color-pink"></li>
                    <li data-color="yellow.css" class="color-yellow"></li>
                    <li data-color="orange.css" class="color-orange"></li>
                    <li data-color="red.css" class="color-red"></li>
                </ul>
                <div class="panel-title">
                    Layout Style
                </div><!-- .panel title -->
                <ul class="panel-list panel-list-layout clearfix">
                    <li data-layout="wide">Wide</li>
                    <li data-layout="boxed">Boxed</li>
					<li data-layout="boxed2">Boxed 2</li>
                </ul>
                <hr>
                <a href="#" id="panel-clear" class="btn btn-custom btn-block">Clear</a>
        </div><!-- .panel content -->

    </div><!-- #panel -->
	<div id="wrapper">
        
        <header id="header">
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="header-text">
                                <strong>Call Us : </strong>0777 432 41 24 <span class="separator">|</span>
                                <strong>Email : </strong> <a href="mailto:eonyeony@gmail.com">eonyeony@gmail.com</a>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-6 col-xs-12 clearfix">
                            <ul class="social-media">
                                <li><a class="add-tooltip facebook" data-placement="left" data-original-title="Facebook" href="#"><i class="icon-facebook"></i></a></li>
                                <li><a class="add-tooltip twitter" data-placement="left" data-original-title="Twitter" href="#"><i class="icon-twitter"></i></a></li>
                                <li><a class="add-tooltip googleplus" data-placement="left" data-original-title="Google Plus" href="#"><i class="icon-google-plus"></i></a></li>
                                <li><a class="add-tooltip dribbble" data-placement="left" data-original-title="Dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                                <li><a class="add-tooltip flickr" data-placement="left" data-original-title="Flickr" href="#"><i class="icon-flickr"></i></a></li>
                                <li><a class="add-tooltip youtube" data-placement="left" data-original-title="Youtube" href="#"><i class="icon-youtube"></i></a></li>
                                <li><a class="add-tooltip linkedin" data-placement="left" data-original-title="Linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- header- top -->
            
            <div class="container">
                <div class="row">
                    <div class="col-md-12 clearfix">
                        <div id="logo" >
                            <a href="index.html">
                                <img src="images/logo.png" alt="Kira Flat Multipurpose Teplate">
                            </a>
                        </div><!-- #logo -->
                        <nav>
                            <ul class="menu" id="nav">
                                <li>
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index-two.html">Home Page Two</a></li>
                                        <li><a href="index-three.html">Home Page Three</a></li>
                                        <li><a href="index-portfolio.html">Home Page Portfolio</a></li>
                                    </ul>
                                </li>                           
                                <li>
                                    <a class="active" href="#">Pages</a>
                                    <ul>
                                        <li><a href="#">Headers</a>
                                        	<ul>
                                        		<li><a href="header-style-1.html">Header Style 1</a></li>
                                        		<li><a href="header-style-2.html">Header Style 2</a></li>
                                        		<li><a href="header-style-3.html">Header Style 3</a></li>
                                        	</ul>
                                        </li>
                                        <li><a href="#">Footers</a>
                                        	<ul>
                                        		<li><a href="footer-style-1.html">Footers Style 1</a></li>
                                        		<li><a href="footer-style-2.html">Footers Style 2</a></li>
                                        		<li><a href="footer-style-3.html">Footers Style 3</a></li>
                                        	</ul>
                                        </li>
                                        <li><a href="abouts.html">Abouts</a>
                                        	<ul>
                                        		<li><a href="about.html">About Page</a></li>
                                        		<li><a href="about-two.html">About Page Two</a></li>
                                        		<li><a href="about-three.html">About Page Three</a></li>
                                        	</ul>
                                        </li>
                                        <li><a href="all-services.html">Services</a>
                                        	<ul>
                                        		<li><a href="services.html">Services Page</a></li>
                                        		<li><a href="services-two.html">Services Page Two</a></li>
                                        		<li><a href="services-three.html">Services Page Three</a></li>
                                        	</ul>
                                        </li>
                                        <li><a href="contact-two.html">Contact Page Two</a></li>
                                        <li><a href="contact-three.html">Contact Page Three</a></li>
                                        <li><a href="faq.html">FaQ Page</a></li>
                                        <li><a class="active" href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="portfolio.html">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-col-2.html">Portfolio Two</a></li>
                                        <li><a href="portfolio-col-3.html">Portfolio Three</a></li>
                                        <li><a href="portfolio-col-4.html">Portfolio Four</a></li>
                                        <li><a href="portfolio-col-1.html">Portfolio One</a></li>
                                        <li><a href="portfolio-masonry-3.html">Portfolio Masonry Three</a></li>
                                        <li><a href="portfolio-masonry-4.html">Portfolio Masonry Four</a></li>
                                        <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-fullwidth.html">Blog Classic Layout</a>
                                        	<ul>
                                        		<li><a href="blog-fullwidth.html">Classic Fullwidth</a></li>
                                        		<li><a href="blog.html">Classic Right Sidebar</a></li>
                                        		<li><a href="blog-left-sidebar.html">Classic Left Sidebar</a></li>
                                        		<li><a href="blog-both-sidebar.html">Classic Both Sidebar</a></li>
                                        	</ul>
                                        </li>
                                        <li><a href="blog-grid.html">Blog Grid Layout</a>
                                        	<ul>
                                        		<li><a href="blog-grid.html">Grid Fullwidth</a></li>
                                        		<li><a href="blog-grid-right-sidebar.html">Grid Right Sidebar</a></li>
                                        		<li><a href="blog-grid-left-sidebar.html">Grid Left Sidebar</a></li>
                                        		<li><a href="blog-grid-both-sidebar.html">Grid Both Sidebar</a></li>
                                        	</ul>
                                        </li>
                                        <li><a href="blog-timeline.html">Blog Timeline</a></li>
                                        <li><a href="single.html">Blog Single</a></li>
                                        <li><a href="single-two.html">Blog Single Two</a></li>
                                    </ul>
                                </li>
                                
                                <li><a href="elements.html">Elements</a></li>
                                <li>
                                    <a href="onepage.html">Onepages</a>
                                    <ul>
                                        <li><a href="onepage-two.html">Onepage Version Two</a></li>
										<li><a href="landing.html">Landing Page</a></li>
										<li><a href="coming-soon.html">Coming Soon Page</a></li>
                                        <li><a href="pricing.html">Pricing Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
								
                            </ul>
                        </nav>
                    </div><!-- .col-md-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
            
        </header>
        
        <section id="content">
            <header id="page-header" class="padding-top padding-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h1>404 Page</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">Pages</a></li>
                                <li class="active">404</li>
                            </ol>
                        </div><!-- .col-md-12 -->
                    </div><!-- .row -->
                </div><!-- .container -->
                <div class="triangle-border triangle-bottom-left"></div><!-- triangle-bottom-left -->
                <div class="triangle-border triangle-bottom-right"></div><!-- triangle-bottom-right -->
            </header>
            
            <div class="container">
                <div class="row normal-margin">
                    <div class="col-md-12">
                        <h1 class="four-o-four">404</h1>
                        <div class="text-center">
                            <h2>There is no page! Please go back!</h2>
                            <hr class="fancy-hr-middle">
                            <a href="index.html" class="btn btn-custom-border">Go Back To Home Page</a>
                        </div>
                    </div>
                    
                </div><!-- .row -->
            </div><!-- .container -->
        </section>
        
        <!-- End -->
        <footer id="footer" class="padding-top">
            <div class="triangle-border triangle-top-left"></div><!-- triangle-top-left -->
            <div class="triangle-border triangle-top-right"></div><!-- triangle-top-right -->
            <div class="inner-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                               
                               <div class="widget address-bg">
                                   <div id="footer-logo">
                                    <img src="images/footer-logo.png" alt="Kira Flat Template">
                                </div><!-- #footer-logo -->
                                <address>
                                    <p><strong>EonyThemes, Inc.</strong><br>
                                    795 Carsi Street, Besiktas 600<br>
                                    Istanbul- Turkey, SE 240090</p>
                                    <p><strong>Phone:</strong>&nbsp; (123) 213 31 67
                                    <br>
                                    <strong>Mobile:</strong>&nbsp; (321) 237-2133</p>
                                    
                                </address>
                                
                                <address>
                                    <p><strong>Eon Dean</strong> <span class="small-separator">/</span> <em>The Director</em><br>
                                    <a href="mailto:eony@eonythemes.com">eony@eonythemes.com</a></p>
                                    <p><strong>Jane Dean</strong> <span class="small-separator">/</span> <em>The Manager</em><br>
                                    <a href="mailto:eonyeony@gmail.com">eonyeony@gmail.com</a></p>
                                </address>
                                   
                               </div><!-- .widget -->
                                
                        </div><!-- End -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="widget clearfix">
                                <h4>Latest Posts</h4>
                                <hr class="fancy-hr-left">
                                <ul class="footer-latest-posts clearfix">
                                    <li class="clearfix">
                                        <span>17<br>Sep</span>
                                        <a href="#">Update on Kira</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </li>
                                    <li class="clearfix">
                                        <span>14<br>Sep</span>
                                        <a href="#">Check out Kira</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </li>
                                    <li class="clearfix">
                                        <span>12<br>Sep</span>
                                        <a href="#">New Release</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </li>
                                </ul>
                                
                            </div><!-- .widget -->
                            
                        </div><!-- End -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="widget tagcloud">
                                <h4>Tag Cloud</h4>
                                <hr class="fancy-hr-left">
 
                                    <a href="#">business</a>
                                    <a href="#">themes</a>
                                    <a href="#">images</a>
                                    <a href="#">cool</a>
                                    <a href="#">cews</a>
                                    <a href="#">nice</a>
                                    <a href="#">useful</a>

                            </div><!-- .widget -->
                            
                            <div class="widget widget-category">
                                <h4>Categories</h4>
                            <hr class="fancy-hr-left">
                            <ul>
                                <li><a href="#">Images</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                                
                            </div><!-- .widget -->
                        </div><!-- End -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="widget">
                                <h4>Flickr Feed</h4>
                                <hr class="fancy-hr-left">
                                <ul class="flickr-widget clearfix">
                    
                                </ul>
                            </div><!-- .widget -->

                        </div><!-- End -->
                        
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .inner-footer -->
            
            
            <div class="footer-copyright padding-top">
               <div class="triangle-border triangle-top-left"></div><!-- triangle-top-left -->
                <div class="triangle-border triangle-top-right"></div><!-- triangle-top-right -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            Copyright &copy; 2013 <small>Eonythemes.com</small>.
                        </div><!-- .col-lg-7 -->
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <a href="faq.html">Terms of Use</a><span class="separator">|</span>
                            <a href="#">Privacy Policy</a><span class="separator">|</span>
                            <a href="#">Sitemap</a>
                        </div><!-- .col-lg-5 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .footer-copyright -->
            
        </footer>
        
        <div id="scroll-top"><i class="icon-chevron-up"></i></div><!-- #scrolltop -->

		</div><!-- #wrapper -->
        <!-- END -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/selectnav.min.js"></script>
        <script src="js/jquery.cycle2.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script src="js/jflickrfeed.min.js"></script>
        <script src="js/jquery.appear.js"></script>
        <script src="js/jquery.countTo.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/jquery.fitvids.js"></script>
        <script src="js/jquery.placeholder.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
		<script src="js/retina-1.1.0.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/style-switcher.js"></script>
        <!-- Google Analytics: change UA-44040753-1 to be your site's ID. -->
        <script>
            
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
            
              ga('create', 'UA-44040753-1', 'eonythemes.com');
              ga('send', 'pageview');
            
        </script>
    </body>
</html>