/*===============
**********

Color Orange
#fc6e51
hover state #e9573f
rgb(252, 110, 81)

***********
==================*/

::-moz-selection {
    background: #fc6e51;
}

::selection {
    background: #fc6e51;
}


a,
#header .menu li:hover a,
#header .menu li a.active, 
#header .menu li > ul li a,
.block-services-border .icon-container,
.block-services-border h3,
.portfolio-item figcaption a ,
.cycle-slide-prev,
.cycle-slide-next,
.article .article-meta-comments,
 .inner-label-left,
.inner-label-right,
.btn-custom-border,
.dropcap,
.change-color,
.pricing-table.pricing-custom  header,
.big-services .icon-container ,
.small-services  .icon-container,
.big-services  h3,
.small-services  h4,
.count-container h4,
.portfolio-detail-list i,
.widget h3,
.widget h4,
#footer h4,
#footer .widget.widget-category li a,
#footer .widget-list li a,
#scroll-top,
.four-o-four,
.tab-content h3,
/* used in onepage-style.css landing-style.css  coming-style.css Color */
/* Same sections*/
#home .section-title,
#about .section-title,
#services .section-title,
#features .section-title,
#portfolio .section-title,
#pricing .section-title,
#contact .section-title,
#about header,
#services header,
#features header,
#portfolio header,
#pricing header,
#contact header {
	color:#fc6e51;
}


a:hover,
.btn-custom-border:hover,
.btn-custom-border:focus,
.btn-custom-border:active,
.btn-custom-border.active,
.widget.widget-category li a:hover,
.widget-list li a:hover,
#footer .separator,
#scroll-top:hover{
	color:#e9573f;
}


.big-services h3:after,
.block-services-border h3:after ,
.portfolio-item:hover .portfolio-detail, .dropcap-2,
.highlight,
#header #header-top,
.pricing-table.pricing-custom .price,
.pricing-table.pricing-custom .pricing-content li:nth-child(2n+1),
.inverse-row .block-services.block-services-custom:nth-child(2n),
.block-services.block-services-custom,
.article-timeline .timeline-left .timeline-article-date,
.article-timeline .timeline-right .timeline-article-date  {
	background:#fc6e51;
}


#header .menu li > ul li a.active,
#header .menu li > ul li:hover > a,
.pricing-table.pricing-custom,
.team-member figcaption ,
.block-services.block-services-custom:nth-child(2n),
.inverse-row .block-services.block-services-custom:nth-child(2n+1),
.panel-custom > .panel-heading:hover  {
	background: #e9573f;
}


#header .menu li:hover a,
#header .menu li a.active,
.pricing-table.pricing-custom,
.btn-custom-border,
.services-list li:hover .icon-container,
.portfolio-item figcaption,
.cycle-slide-prev:active,
.cycle-slide-next:active,
#scroll-top,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active    {
	border-color:#fc6e51;
}


.block-services-border,
#portfolio-filters li a,
.cycle-slide-prev,
.cycle-slide-next,
.article .article-meta-box,
.article-grid .article {
	border:2px solid #fc6e51;
}

#header .menu li > ul,
.btn-custom-border:hover,
.btn-custom-border:focus,
.btn-custom-border:active,
.btn-custom-border.active,
.article-timeline .article {
	border:2px solid #e9573f;
}


hr.fancy-hr-left:before,
hr.fancy-hr-middle:before,
hr.fancy-hr-right:before {
    border-color: transparent transparent transparent #fc6e51;
}

#header .menu li > ul:before {
	border-left-color:#e9573f;
}

#header .menu li > ul li {
	border-bottom:1px dotted #e9573f;
}

#header .menu li > ul li > ul:before {
	border-right-color:#e9573f;
}

.portfolio-detail {
	border-top:3px solid #fc6e51;
}
.portfolio-detail:before {
	border-color: transparent transparent transparent #fc6e51;
}

.article .article-meta-box:before {
    border-color: transparent #fc6e51 transparent transparent;
}

.form-control:focus {
	border:1px solid #e9573f;
}

hr {
    border-top: 2px solid #fc6e51;
}

.pricing-table.pricing-custom hr {
    border-top-color:#fc6e51;
}

.announcement {
    border:2px solid #fc6e51;
    border-left-width:6px;
    border-right-width:4px;
}

.announcement:before {
	border-color: transparent #fc6e51 transparent transparent;

}

/* Blog */
.cycle-slide-prev:hover,
.cycle-slide-next:hover {
    border-color:#e9573f;
}

.article-timeline .timeline-left .article:before {
    border-color: transparent transparent transparent #e9573f;
}

.article-timeline .timeline-right .article:before {
    border-color: transparent transparent #e9573f transparent;
}

.form-control,
.post-author,
.comment .comment-content  {
    border:1px solid #fc6e51;
}

.comment .comment-content:before {
    border-color: transparent transparent #fc6e51 transparent;
}

#footer hr.fancy-hr-left:after,
#footer hr.fancy-hr-middle:after,
#footer hr.fancy-hr-right:after {
    border-color: transparent transparent transparent #38475a;
}
#footer .footer-latest-posts li > span {
    border-color: #e9573f;
}

#footer .flickr-widget li a:before {
    background: rgba(252, 110, 81, 0.8);
}

#scroll-top:hover {
    border-color:#e9573f;
}

#scroll-top:hover:after  {
	border-color: transparent #e9573f transparent transparent;
}

/* Bootstrap Tab */
.nav-tabs > li > a {
    background-color: #fc6e51;
    border-color: #fc6e51 #e9573f #aab2bd;
}

.nav-tabs > li > a:hover {
    border-color: #e9573f #e9573f #aab2bd;
    background-color: #e9573f;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: 1px solid #e9573f;
	border-bottom-color: transparent !important;
    border-top-width:3px;
}

/* Bootstrap Accordion */
.panel-group .panel {
    border-color:#e9573f;
}

.panel-custom > .panel-heading {
	background-color: #fc6e51;
	border-color: #e9573f;
}


.panel-custom > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #e9573f;
}

/* Bootstrap Progress Bars  */
.progress-bar-custom {
	background-color: #fc6e51;
}

/* Pagination */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #e9573f;
	border-color: #e9573f;
}

/* Bootstrap labels */
.label-custom {
	background-color: #fc6e51;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
	background-color: #e9573f;
}

/* Bootstrap buttons */
.btn-custom {
	background-color: #fc6e51;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
	background-color: #e9573f;
}

/* Blockquote */
blockquote {
	border-left: 4px solid #fc6e51;
}

blockquote.pull-right {
	border-right: 5px solid #fc6e51;
}

/* Bootstrap Tooltip */

.tooltip-inner {
	background-color: #e9573f;
}

.tooltip.top .tooltip-arrow {
    border-color: transparent #e9573f transparent transparent;
}

.tooltip.right .tooltip-arrow {
    border-color: transparent transparent #e9573f transparent;
}

.tooltip.left .tooltip-arrow {
    border-color: transparent transparent transparent #e9573f;
}

.tooltip.bottom .tooltip-arrow {
    border-color: transparent transparent transparent #e9573f;
}

/* used in landing-style.css and comingsoon-style.css */
.overlay-bg {
    background: rgba(252, 110, 81, 0.7);
}
#header .menu li.active a{
	color:#fc6e51;
	border-color:#fc6e51;
}