<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Angel Security</title>
        <meta name="description" content="">
        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic|Open+Sans:400italic,400,300,600,700' rel='stylesheet'>
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/animate-custom.css">
        <link rel="stylesheet" href="css/prettyPhoto.css">
        <link rel="stylesheet" href="css/revolution.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/onepage-style.css">
		<link rel="stylesheet" href="css/colors/green.css" id="colors">
        <link rel="stylesheet" href="css/responsive-style.css">
        
        <!-- Modernizr -->
        <script src="js/modernizr-custom.js"></script>
        
        <!-- Google map javascript api v3 -->
	    <!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD45Nu6JYgh1oKG5G9ut7Nr4QW48gx-6ug&amp;sensor=false"></script> -->
        
        <!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<script src="js/selectivizr-min.js"></script>
	    <![endif]-->
    </head>
    <body>
	<div id="loading"></div><!-- #loading -->
    <div id="ajax-loader"></div><!-- #ajax-loader -->
    <div id="panel">
        <header>
            Angyl
            <div id="panel-button"><i class="icon-gears"></i></div><!-- #panel button -->
        </header>
        <div class="panel-content">
                <p>Trust Angyl with your life.</p>
                <hr>
                <div class="panel-title">
                    Predefined Colors
                </div><!-- .panel title -->
                <ul class="panel-list panel-list-color clearfix">
                    <li data-color="green.css" class="color-green"></li>
                    <li data-color="blue.css" class="color-blue"></li>
                    <li data-color="light-blue.css" class="color-light-blue"></li>
                    <li data-color="purple.css" class="color-purple"></li>
                    <li data-color="pink.css" class="color-pink"></li>
                    <li data-color="yellow.css" class="color-yellow"></li>
                    <li data-color="orange.css" class="color-orange"></li>
                    <li data-color="red.css" class="color-red"></li>
                </ul>
                <div class="panel-title">
                    Layout Style
                </div><!-- .panel title -->
                <ul class="panel-list panel-list-layout clearfix">
                    <li data-layout="wide">Wide</li>
                    <li data-layout="boxed">Boxed</li>
					<li data-layout="boxed2">Boxed 2</li>
                </ul>
                <hr>
                <a href="#" id="panel-clear" class="btn btn-custom btn-block">Clear</a>
        </div><!-- .panel content -->

    </div><!-- #panel -->
	<div id="wrapper">
        
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 clearfix">
                        <div id="logo" >
                            <a href="index.html">
                                <img src="images/logo3.png" alt="Angyl Safety and Security System">
                            </a>
                        </div><!-- #logo -->
                        
                        <nav id="nav-container">
                            <ul class="menu nav" id="nav">
                                <li class="active"><a href="#home2">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#contact">Contact</a></li> 
                            </ul>
                        </nav>
                    </div><!-- .col-md-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </header>
        
        <section id="home2">
            <div id="slider-container">
  
                <div class="revslider ">
                    <ul>
                    	<li  data-transition="3dcurtain-vertical" data-slotamount="7">
						 <img src="images/s14.png">

						 			   <!-- <div class="caption sft big_white"  data-x="120" data-y="200" data-speed="700" data-start="1700" data-easing="easeOutBack">WELCOME TO KIRA!</div>
   <div class="caption sfb big_custom"  data-x="120" data-y="242" data-speed="500" data-start="1900" data-easing="easeOutBack">POWERED WITH REVOLUTION SLIDER!</div>
   <div class="caption sfb big_custom"  data-x="120" data-y="300" data-speed="500" data-start="1900" data-easing="easeOutBack">Enjoy Awesome Multipurpose Template</div>
   <div class="caption lfr medium_grey"  data-x="120" data-y="360" data-speed="300" data-start="2000">With So Much Features</div> -->
                    		


                    	</li>
                    	<li  data-transition="boxslide" data-slotamount="7">
						 <img src="images/s11.jpg" scale="75%">

						 			  <!-- <div class="caption sft big_white"  data-x="345" data-y="240" data-speed="700" data-start="1700" data-easing="easeOutBack">RESPONSIVE and FLAT DESIGN</div>
   <div class="caption sfb big_custom"  data-x="270" data-y="290" data-speed="500" data-start="1900" data-easing="easeOutBack">WITH AWESOME FEATURES</div>
   <div class="caption lfr medium_grey"  data-x="390" data-y="350" data-speed="300" data-start="2000">AND MUCH MORE</div> -->
                    		


                    	</li>
                    </ul>
                    
                    
                </div><!-- .revslider -->

            </div><!-- #slider-container -->
            
        </section>
        
        <section id="about">
            <div class="inside-padding">
            <header class="section-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>ABOUT</h1>
                            <hr class="fancy-hr-middle">
                        </div><!-- .col-md-12 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </header>
            
            <div class="container">
                <div class="row normal-margin">
                    <div class="col-md-12">

                        <p>Angyl is the premier warn-me system for home security and personal safety.
                        Angyl continuously monitors your home and warns you in the event of fire or dire emergencies. Our personalized notification system utilizes local RSS Newsfeeds and electronic signals to add an extra layer of protection, keeping you and your family safe and secure. At Angyl, we plan on expanding our modular product line to include home, car, and bike protection services. Our job is to keep you safe--so you don't have to worry!</p>       
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6 team-member-container">
                                <div class="team-member appear team-member-circle" data-appear-class="fadeInLeft">
                                    <figure>
                                        <img src="images/team/person1.jpg" alt="Boss" class="img-responsive img-circle">
                                        <figcaption>
                                        <h4>Stromile Swift</h4>
                                        <h5>The Boss</h5>
                                            
                                        </figcaption>
                                    </figure>
                                    <div class="team-member-details">
                                        <ul class="social-media">
                                    <li><a class="add-tooltip from-bottom facebook" data-placement="top" data-original-title="Facebook" href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a class="add-tooltip from-bottom twitter" data-placement="top" data-original-title="Twitter" href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a class="add-tooltip from-bottom googleplus" data-placement="top" data-original-title="GooglePlus" href="#"><i class="icon-google-plus"></i></a></li>
                                    <li><a class="add-tooltip from-bottom dribbble" data-placement="top" data-original-title="Dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                                    <li><a class="add-tooltip from-bottom flickr" data-placement="top" data-original-title="Flickr" href="#"><i class="icon-flickr"></i></a></li>
                                        </ul>
                                    </div><!-- .team-member-details -->
                                    
                                </div><!-- .team-member -->
                                
                            </div><!-- .col-md-3 col-xs-6-->
                            
                            <div class="col-md-3 col-sm-6 col-xs-6 team-member-container">
                                <div class="team-member appear team-member-circle" data-appear-class="fadeInLeft">
                                    <figure>
                                        <img src="images/team/person2.jpg" alt="Developer" class="img-responsive img-circle">
                                        <figcaption>
                                        <h4>Jane Desmond</h4>
                                        <h5>Developer</h5>
                                            
                                        </figcaption>
                                    </figure>
                                    <div class="team-member-details">

                                        <ul class="social-media">
                                    <li><a class="add-tooltip from-bottom facebook" data-placement="top" data-original-title="Facebook" href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a class="add-tooltip from-bottom twitter" data-placement="top" data-original-title="Twitter" href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a class="add-tooltip from-bottom googleplus" data-placement="top" data-original-title="GooglePlus" href="#"><i class="icon-google-plus"></i></a></li>
                                    <li><a class="add-tooltip from-bottom github" data-placement="top" data-original-title="GSithub" href="#"><i class="icon-github"></i></a></li>
                                    <li><a class="add-tooltip from-bottom flickr" data-placement="top" data-original-title="Flickr" href="#"><i class="icon-flickr"></i></a></li>
                                        </ul>
                                    </div><!-- .team-member-details -->
                                    
                                </div><!-- .team-member -->
                                
                            </div><!-- .col-md-3 col-xs-6-->
                            
                            <div class="col-md-3 col-sm-6 col-xs-6 team-member-container">
                                <div class="team-member appear team-member-circle" data-appear-class="fadeInRight">
                                    <figure>
                                        <img src="images/team/person3.jpg" alt="Designer" class="img-responsive img-circle">
                                        <figcaption>
                                        <h4>Desmond Mason</h4>
                                        <h5>Designer</h5>
                                            
                                        </figcaption>
                                    </figure>
                                    <div class="team-member-details">
                                        <ul class="social-media">
                                    <li><a class="add-tooltip from-bottom facebook" data-placement="top" data-original-title="Facebook" href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a class="add-tooltip from-bottom twitter" data-placement="top" data-original-title="Twitter" href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a class="add-tooltip from-bottom googleplus" data-placement="top" data-original-title="GooglePlus" href="#"><i class="icon-google-plus"></i></a></li>
                                    <li><a class="add-tooltip from-bottom dribbble" data-placement="top" data-original-title="Dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                                    <li><a class="add-tooltip from-bottom flickr" data-placement="top" data-original-title="Flickr" href="#"><i class="icon-flickr"></i></a></li>
                                        </ul>
                                    </div><!-- .team-member-details -->
                                    
                                </div><!-- .team-member -->
                                
                            </div><!-- .col-md-3col-xs-6-->
                            
                            <div class="col-md-3 col-sm-6 col-xs-6 team-member-container">
                                <div class="team-member appear team-member-circle" data-appear-class="fadeInRight">
                                    <figure>
                                        <img src="images/team/person4.jpg" alt="Junior Developer" class="img-responsive img-circle">
                                        <figcaption>
                                        <h4>Daisy Swift</h4>
                                        <h5>Junior Developer</h5>
                                            
                                        </figcaption>
                                    </figure>
                                    <div class="team-member-details">
                                        <ul class="social-media" >
                                    <li><a class="add-tooltip from-bottom facebook" data-placement="top" data-original-title="Facebook" href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a class="add-tooltip from-bottom twitter" data-placement="top" data-original-title="Twitter" href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a class="add-tooltip from-bottom googleplus" data-placement="top" data-original-title="GooglePlus" href="#"><i class="icon-google-plus"></i></a></li>
                                    <li><a class="add-tooltip from-bottom dribbble" data-placement="top" data-original-title="Dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                                    <li><a class="add-tooltip from-bottom flickr" data-placement="top" data-original-title="Flickr" href="#"><i class="icon-flickr"></i></a></li>
                                        </ul>
                                    </div><!-- .team-member-details -->
                                    
                                </div><!-- .team-member -->
                                
                            </div><!-- .col-md-3 col-xs-6-->
                            
                            
                        </div><!-- .row-->
                    </div><!-- .col-md-12 -->
                    
                </div><!-- .row -->
               <!-- 
                <div class="row high-margin">
                    <div class="col-md-6 col-xs-12">
                        <header>
                            <h2>About Team</h2>
                            <hr class="fancy-hr-left">
                        </header>
                        <ul class="nav nav-tabs" id="mytab">
                            <li class="active"><a href="#tab-content-1">Home</a></li>
                            <li><a href="#tab-content-2">Profile</a></li>
                            <li><a href="#tab-content-3">Messages</a></li>
                            <li><a href="#tab-content-4">Settings</a></li>
                        </ul>
                        
                        <div class="tab-content">
                            <div class="tab-pane active clearfix" id="tab-content-1">
                                <figure class="left"><img src="images/tab-content-1.jpg" alt="tab content 1"></figure>
                                <h3><strong>Content</strong> of Tab</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aliquid repellat dolorum facere eveniet esse mollitia architecto in rem! Eaque nostrum illo porro provident modi assumenda culpa adipisci eius minima! Illum molestiae dictaasesa neas yui.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quod consequatur magni pariatur laudantium porro at eaque commodi quos et dolores vitae nisi voluptatibus ut doloribus id repellat animi veritatis.  .</p>
                            </div>
                            <div class="tab-pane clearfix" id="tab-content-2">
                                <figure class="right"><img src="images/tab-content-2.jpg" alt="tab content 2"></figure>
                                <h3><strong>Second Content</strong> of Tab</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aliquid repellat dolorum facere eveniet esse mollitia architecto in rem! Eaque nostrum illo porro provident modi assumenda culpa adipisci eius minima!</p>
                                <p>Lorem ipsum  consectetur adipisicing   consectetur adipisicing dolor sit amet, consectetur adipisicing elit Illum molestiae dictaasesa neas yui.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere animi in molestias quo cupiditate illo.</p>
                            </div>
                            <div class="tab-pane clearfix" id="tab-content-3">
                                <figure><img src="images/tab-content-3.jpg" alt="tab content 3"></figure>
                                <h3><strong>Content</strong> of Tab III</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aliquid repellat dolorum facere eveniet esse mollitia architecto in rem! Eaque nostrum illo porro provident modi assumenda culpa adipisci eius minima  consectetur adipisicing!</p>
                            </div>
                            <div class="tab-pane clearfix" id="tab-content-4">
                                <figure class="right"><img src="images/tab-content-4.jpg" alt="tab content 4"></figure>
                                <h3><strong>Fourth</strong> Tab Content</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aliquid repellat dolorum facere eveniet esse mollitia architecto in rem! Eaque nostrum illo porro provident modi assumenda culpa adipisci eius minima!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quod consequatur magni pariatur laudantium porro at eaque commodi quos et dolores vitae nisi voluptatibus ut doloribus id repellat animi veritatis.</p>
                            </div>
                        </div>
                    </div>
                -->
                    <!-- .col-md-6 col-xs-12-->
                    <div class="col-md-6 col-xs-12">
                        <header>
                        <!--
                            <h2>Our Skills</h2>
                            <hr class="fancy-hr-left">
                        </header>
                        <div class="progress appear-progress" data-width="88">
                            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">88% Complete (danger)</span>
                            <span class="progress-text"><strong>Html5 &amp; Css3:</strong> 88% </span>
                            </div>
                        -->
                            <!-- .progress-bar -->
                        </div><!-- .progress -->
                       
                       <!-- <div class="progress appear-progress" data-width="59">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="59" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">59% Complete (danger)</span>
                            <span class="progress-text"><strong>Design:</strong> 59% </span>
                            </div>
`                       -->
                            <!-- .progress-bar -->
                        </div><!-- .progress -->

                         <!-- <div class="progress appear-progress" data-width="79">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">79% Complete (danger)</span>
                            <span class="progress-text"><strong>Php:</strong> 79% </span>
                            </div> 
                        -->

                            <!-- .progress-bar -->
                        </div><!-- .progress -->
                        <!--

                          <div class="progress appear-progress" data-width="94">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">94% Complete (danger)</span>
                            <span class="progress-text"><strong>Javascript:</strong> 94% </span>
                            </div>
                        -->
                            <!-- .progress-bar -->
                        </div><!-- .progress -->
                        
                        <!-- <div class="progress appear-progress" data-width="74">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">74% Complete (danger)</span>
                            <span class="progress-text"><strong>Wordpress:</strong> 74% </span>
                            </div>

                        -->    <!-- .progress-bar -->
                        </div><!-- .progress -->
                        <!--

                        <div class="progress appear-progress" data-width="54">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">54% Complete (danger)</span>
                            <span class="progress-text"><strong>Java:</strong> 54% </span>
                            </div>

                        -->    <!-- .progress-bar -->
                        </div><!-- .progress -->
                    </div><!-- .col-md-6 col-xs-12-->

                    
                </div><!-- .row -->
            </div><!-- .container -->
            </div><!-- .inside-padding -->
        </section>
        
        <section id="services">
            <div class="inside-padding">
            <header class="section-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Services</h1>
                            <hr class="fancy-hr-middle">
                        </div><!-- .col-md-12 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </header>
            
            <div class="container">
					<div class="row high-margin">
						<div class="col-md-3 col-sm-3 col-xs-6 appear" data-appear-class="fadeInLeft">
						   <div class="block-services-border">
								<span class="icon-container">
								<i class="icon-heart"></i>
								</span>
								<h3>We Care</h3>
								<p>We are invested in procecting you, your family, and your assets.</p>
						   </div>
						   
							
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 appear" data-appear-class="fadeInLeft">				
							<div class="block-services-border"><span class="icon-container">
							<i class="icon-cog"></i>
							</span>
							<h3>We Build</h3>
							<p> Our platform will continue to grow as we expand our services worldwide.</p>
							</div>
							
							
						</div>
						

						<div class="col-md-3 col-sm-3 col-xs-6 appear" data-appear-class="fadeInRight">				
							<div class="block-services-border"><span class="icon-container">
								<i class="icon-comments"></i>
							</span>
							<h3>We Help</h3>
							<p>We are committed to ensuring that you always feel safe away from home.</p>
							</div>
							
						</div>
						
						<div class="col-md-3 col-sm-3 col-xs-6 appear" data-appear-class="fadeInRight">
							 <div class="block-services-border">
								<span class="icon-container">
							<i class="icon-lightbulb"></i>
						</span>
						<h3>We Innovate</h3>
						<p>We envision a future free from theft and harm! </p>
							 </div>
						</div>
							
					</div><!-- .row -->
                        
                    <div class="row high-margin">
                        <div class="col-md-6 col-xs-12">
                            <div class="service-image-container">
                                <img class="appear" data-appear-class="fadeInDown" src="images/flat-phone.png" alt="Flat phone">
                                <img class="appear" data-appear-class="fadeInUp" src="images/flat-phone-back.png" alt="Flat phone back">
                            </div><!-- .services-image-container -->
                        </div><!-- .col-md-6 -->
                        
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                            
                            <div class="col-md-6 col-sm-12 col-xs-6 small-services services-primary appear" data-appear-class="flipInX">
                                <span class="icon-container">
                                    <i class="icon-gears"></i>
                                </span>
                                <h4>We<strong> Search</strong></h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div><!-- .col-md-3 -->
                            
                            <div class="col-md-6 col-sm-12 col-xs-6 small-services appear" data-appear-class="flipInX">
                                <span class="icon-container">
                                    <i class="icon-gears"></i>
                                </span> 
                                <h4>We<strong> Share</strong></h4>

                                <p>Praesentium doloribus delectus cumque maiores atie.</p>
                            </div><!-- .col-md-3 -->
                            
                            <div class="col-md-6 col-sm-12 col-xs-6 small-services services-warning appear" data-appear-class="flipInX">
                                <span class="icon-container">
                                    <i class="icon-gears"></i>
                                </span>
                                <h4>We<strong> Find</strong></h4>

                                <p>Yraesentium doloribus delectus cumque maiores at!e.</p>
                            </div><!-- .col-md-3 -->
                            
                            <div class="col-md-6 col-sm-12 col-xs-6 small-services services-danger appear" data-appear-class="flipInX">
                                <span class="icon-container">
                                    <i class="icon-gears"></i>
                                </span>
                                <h4>We<strong> Success</strong></h4>

                                <p>Sraesentium doloribus delectus cumque maiores at!e.</p>
                            </div><!-- .col-md-3 -->
                            <div class="col-md-6 col-sm-12 col-xs-6 small-services services-success appear" data-appear-class="flipInX">
                                <span class="icon-container">
                                    <i class="icon-gears"></i>
                                </span>
                                <h4>We<strong> Make</strong></h4>

                                <p>Sraesentium doloribus delectus cumque maiores at!e.</p>
                            </div><!-- .col-md-3 -->
                            <div class="col-md-6 col-sm-12 col-xs-6 small-services services-info appear" data-appear-class="flipInX">
                                <span class="icon-container">
                                    <i class="icon-gears"></i>
                                </span>
                                <h4>We<strong> Read</strong></h4>

                                <p>Sraesentium doloribus delectus cumque maiores at!e.</p>
                            </div><!-- .col-md-3 -->
                            <div class="col-md-6 col-sm-12 col-xs-6 small-services services-custom appear" data-appear-class="flipInX">
                                <span class="icon-container">
                                    <i class="icon-gears"></i>
                                </span>
                                <h4>We<strong> Make</strong></h4>

                                <p>Sraesentium doloribus delectus cumque maiores at!e.</p>
                            </div><!-- .col-md-3 -->
                            <div class="col-md-6 col-sm-12 col-xs-6 small-services services-warning appear" data-appear-class="flipInX">
                                <span class="icon-container">
                                    <i class="icon-gears"></i>
                                </span>
                                <h4>We<strong> Read</strong></h4>

                                <p>Sraesentium doloribus delectus cumque maiores at!e.</p>
                            </div><!-- .col-md-3 -->
                            
                        </div><!-- .row -->
                        
                        </div><!-- .col-md-6 -->
                    </div><!-- .row -->
                    
                    <div class="row">
                    <div class="col-md-12">
                        <div class="announcement">
                            <a href="#" class="btn btn-custom">Purchase Now</a>
                            <h3><strong>Angyl</strong> is multipurpose security platform.</h3>
                            <p>Do not miss out on this new and innovative safety measure!</p>
                        </div>
                    </div><!-- .col-md-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
            </div><!-- .inside-padding -->
        </section>
      

        <section id="portfolio">
            <div class="inside-padding">
            <header class="section-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Portfolio</h1>
                            <hr class="fancy-hr-middle">
                        </div><!-- .col-md-12 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </header>
            
            <div class="container">
                <div class="row normal-margin">
                    <div class="col-md-12">
                    
                    	<ul id="portfolio-filters" class="clearfix">
							<li><a href="#" class="active" data-filter="*">All</a></li>
							<li><a href="#" data-filter=".design">Design</a></li>
							<li><a href="#" data-filter=".logo">Logo</a></li>
							<li><a href="#" data-filter=".photo">Photo</a></li>
							<li><a href="#" data-filter=".video">Video</a></li>
                    	</ul>
                    
                    </div><!-- .col-md-12 -->
                </div><!-- .row -->
                
                <div class="row portfolio-item-container">
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-item photo">
                        <figure>
                             <img src="images/portfolio/item11.jpg" alt="asdasdas">
                             <figcaption>
                             <a data-rel="prettyPhoto" href="images/portfolio/item11.jpg">
                                 <i class="icon-resize-full"></i>
                             </a></figcaption>
                        </figure>
                        <div class="portfolio-detail">
                            <h3><a href="portfolio-single.html">Designed Staff</a></h3>
                            September 17, 2013
                        </div><!-- portfolio-detail -->

                    </div><!-- col-md-3 -->
                    
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-item design logo">
                        <figure>
                             <img src="images/portfolio/item14.jpg" alt="asdasdas">
                             <figcaption>
                             <a data-rel="prettyPhoto" href="images/portfolio/item14.jpg">
                                 <i class="icon-resize-full"></i>
                             </a></figcaption>
                        </figure>
                        <div class="portfolio-detail">
                            <h3><a href="portfolio-single.html">Awesome Design</a></h3>
                            September 11, 2013
                        </div><!-- portfolio-detail -->

                    </div><!-- col-md-3 -->
                    
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-item design">
                        <figure>
                             <img src="images/portfolio/item13.jpg" alt="asdasdas">
                             <figcaption>
                             <a data-rel="prettyPhoto" href="images/portfolio/item13.jpg">
                                 <i class="icon-resize-full"></i>
                             </a></figcaption>
                        </figure>
                        <div class="portfolio-detail">
                            <h3><a href="portfolio-single.html">Flat Designed</a></h3>
                            August 29, 2013
                        </div><!-- portfolio-detail -->

                    </div><!-- col-md-3 -->
                    
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-item video design">
                        <figure>
                             <img src="images/portfolio/item15.jpg" alt="asdasdas">
                             <figcaption>
                             <a data-rel="prettyPhoto" href="http://www.youtube.com/watch?v=Sjy-WcKoxzc">
                                 <i class="icon-resize-full"></i>
                             </a></figcaption>
                        </figure>
                        <div class="portfolio-detail">
                            <h3><a href="portfolio-single.html">New Photoshoot</a></h3>
                            August 22, 2013
                        </div><!-- portfolio-detail -->

                    </div><!-- col-md-3 -->
                    
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-item photo">
                        <figure>
                             <img src="images/portfolio/item12.jpg" alt="asdasdas">
                             <figcaption>
                             <a data-rel="prettyPhoto" href="images/portfolio/item12.jpg">
                                 <i class="icon-resize-full"></i>
                             </a></figcaption>
                        </figure>
                        <div class="portfolio-detail">
                            <h3><a href="portfolio-single.html">Photograpy</a></h3>
                            August 18, 2013
                        </div><!-- portfolio-detail -->

                    </div><!-- col-md-3 -->
                    
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-item design logo">
                        <figure>
                             <img src="images/portfolio/item16.jpg" alt="asdasdas">
                             <figcaption>
                             <a data-rel="prettyPhoto" href="images/portfolio/item16.jpg">
                                 <i class="icon-resize-full"></i>
                             </a></figcaption>
                        </figure>
                        <div class="portfolio-detail">
                            <h3><a href="portfolio-single.html">Logo Design</a></h3>
                            August 18, 2013
                        </div><!-- portfolio-detail -->

                    </div><!-- col-md-3 -->
                    
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-item design">
                        <figure>
                             <img src="images/portfolio/item17.jpg" alt="asdasdas">
                             <figcaption>
                             <a data-rel="prettyPhoto" href="images/portfolio/item17.jpg">
                                 <i class="icon-resize-full"></i>
                             </a></figcaption>
                        </figure>
                        <div class="portfolio-detail">
                            <h3><a href="portfolio-single.html">Awesome Song</a></h3>
                            August 12, 2013
                        </div><!-- portfolio-detail -->

                    </div><!-- col-md-3 -->
                    
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-item video design">
                        <figure>
                             <img src="images/portfolio/item8.jpg" alt="asdasdas">
                             <figcaption>
                             <a data-rel="prettyPhoto" href="http://www.youtube.com/watch?v=Sjy-WcKoxzc">
                                 <i class="icon-resize-full"></i>
                             </a></figcaption>
                        </figure>
                        <div class="portfolio-detail">
                            <h3><a href="portfolio-single.html">Catchy Video</a></h3>
                            July 29, 2013
                        </div><!-- portfolio-detail -->

                    </div><!-- col-md-3 -->
                    
                    <div class="col-md-3 col-sm-3 col-xs-6 portfolio-item design">
                        <figure>
                             <img src="images/portfolio/item7.jpg" alt="asdasdas">
                             <figcaption>
                             <a data-rel="prettyPhoto" href="images/portfolio/item7.jpg">
                                 <i class="icon-resize-full"></i>
                             </a></figcaption>
                        </figure>
                        <div class="portfolio-detail">
                            <h3><a href="portfolio-single.html">Awesome Song</a></h3>
                            July 23, 2013
                        </div><!-- portfolio-detail -->

                    </div><!-- col-md-3 -->
                    
                </div><!-- .row -->         
            </div><!-- .container -->
            </div><!-- .inside-padding -->
        </section>
        
        
        <section id="contact">
        
         <!--   <div class="inside-padding">
            <header class="section-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Contact</h1>
                            <hr class="fancy-hr-middle">
                        </div>
                        


                         --> 
      
                         <!-- .col-md-12 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </header> 

<br>
          <!--  <div id="map" class="margin-top"></div> --> <!-- #map -->
            <div class="container">
                <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <header>
                            <h2>Get In Touch</h2>
                            <hr class="fancy-hr-left">
                        </header>
                        <div class="row">
                        <form action="http://eonythemes.com/themes/kira/includes/form.php" method="post" id="contact-form">
                            <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                        <label for="contactname" class="inner-label-left"><i class="icon-tag"></i></label>
                    <input type="text" name="contactname" id="contactname"  class="form-control" required autocomplete="off" placeholder="type your name">
                        </div><!-- .form-group -->
                        <div class="form-group">
                        <label for="contactemail" class="inner-label-left"><i class="icon-envelope"></i></label>
                   <input type="email" name="contactemail" id="contactemail" class="form-control" required autocomplete="off" placeholder="type your email"> 
                        </div><!-- .form-group -->
                        <div class="form-group">
                        <label for="contactsubject" class="inner-label-left"><i class="icon-file-text"></i></label>   
                   <input type="text" name="contactsubject" id="contactsubject" class="form-control" required autocomplete="off" placeholder="type subject"> 
                        </div><!-- .form-group -->
                        
                            </div><!-- .col-md-6 -->
                            <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                        <label for="contactmessage" class="inner-label-right"><i class="icon-envelope"></i></label>  
                    <textarea name="contactmessage" id="contactmessage" class="form-control"  rows="8" placeholder="type your message"></textarea>
                        </div><!-- .form-group -->
                            <div class="form-group">
                   <input type="submit" id="contactsubmit" class="btn btn-custom btn-block" value="Submit"> 
                        </div><!-- .form-group -->
                            </div><!-- .col-md-6 -->
                        </form>
                        </div><!-- .row -->
                            
                        
                        </div><!-- .col-md-7 -->
                        <div class="col-md-5 col-sm-12">
                            <header>
                            <h2>Contact Info</h2>
                            <hr class="fancy-hr-left">
                        </header>
                        <address>
                            <strong>Angyl Co.</strong><br>
                            1900 University Ave.<br>
                           Berkeley, CA 94720<br>
                            <abbr title="Phone">Phone:</abbr>&nbsp; 510.123.456
                        </address>
                        
                        <address>
                            <strong>Elon Musk</strong> <span class="small-separator">/</span> <em>The Director</em><br>
                            <a href="mailto:eony@eonythemes.com">elon@angyl.com</a><br><br>
                        </address>
                            
                            <ul class="social-media">
                                <li><a class="add-tooltip from-bottom facebook" data-placement="top" data-original-title="Facebook" href="#"><i class="icon-facebook"></i></a></li>
                                <li><a class="add-tooltip from-bottom twitter" data-placement="top" data-original-title="Twitter" href="#"><i class="icon-twitter"></i></a></li>
                                <li><a class="add-tooltip from-bottom googleplus" data-placement="top" data-original-title="Google Plus" href="#"><i class="icon-google-plus"></i></a></li>
                                <li><a class="add-tooltip from-bottom dribbble" data-placement="top" data-original-title="Dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                                <li><a class="add-tooltip from-bottom flickr" data-placement="top" data-original-title="Flickr" href="#"><i class="icon-flickr"></i></a></li>
                                <li><a class="add-tooltip from-bottom youtube" data-placement="top" data-original-title="Youtube" href="#"><i class="icon-youtube"></i></a></li>
                                <li><a class="add-tooltip from-bottom linkedin" data-placement="top" data-original-title="Linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a class="add-tooltip from-bottom github" data-placement="top" data-original-title="Github" href="#"><i class="icon-github"></i></a></li>
                                 <li><a class="add-tooltip from-bottom tumblr" data-placement="top" data-original-title="Tumblr" href="#"><i class="icon-tumblr"></i></a></li>
                                
                            </ul>
                            
                        </div><!-- .col-md-4 -->
                   </div><!-- .row -->
                
            </div><!-- .container -->
            </div><!-- .inside-padding -->
        </section>
        
        
        <!-- End -->
        <footer id="footer">
            
            <div class="footer-copyright">
               
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div id="footer-logo">
                                <img src="images/logo2.png" alt="Angyl logo">
                            </div><!-- #footer-logo -->
                            Copyright &copy; 2013 <small>Angyl</small>.
                        </div><!-- .col-md-12 -->

                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .footer-copyright -->
            
        </footer>
        
        <div id="scroll-top"><i class="icon-chevron-up"></i></div><!-- #scrolltop -->

		</div><!-- #wrapper -->
        <!-- END -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/selectnav.min.js"></script>
        <script src="js/jquery.cycle2.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script src="js/jflickrfeed.min.js"></script>
        <script src="js/jquery.appear.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/jquery.fitvids.js"></script>
        <script src="js/jquery.placeholder.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/jquery.vticker.min.js"></script>
		<script src="js/retina-1.1.0.min.js"></script>
        <script src="js/jquery.themepunch.revolution.min.js"></script>
        <script src="js/main.js"></script>
		<script src="js/style-switcher.js"></script>
        <script>
		$(function() {
				   var tpj=jQuery;
				   tpj.noConflict();
				   tpj(document).ready(function() {
					  if (tpj.fn.cssOriginal!=undefined)
					  tpj.fn.css = tpj.fn.cssOriginal;
					  tpj('.revslider').revolution({
						 delay:9000,
						 startwidth:960,
						 startheight:500,
				 
						 onHoverStop:"off",
				 
						 thumbWidth:100,
						 thumbHeight:50,
						 thumbAmount:3,
				 
						 hideThumbs:0,
				 
						 navigationType:"bullet",
						 navigationArrows:"solo",
						 navigationStyle:"round",
						 navigationHAlign:"center",
						 navigationVAlign:"bottom",
						 navigationHOffset:0,
						 navigationVOffset:20,
				 
						 soloArrowLeftHalign:"left",
						 soloArrowLeftValign:"center",
						 soloArrowLeftHOffset:20,
						 soloArrowLeftVOffset:0,
				 
						 soloArrowRightHalign:"right",
						 soloArrowRightValign:"center",
						 soloArrowRightHOffset:20,
						 soloArrowRightVOffset:0,
				 
						 touchenabled:"on",
				 
						 stopAtSlide:-1,
						 stopAfterLoops:-1,
						 hideCaptionAtLimit:0,
						 hideAllCaptionAtLilmit:0,
						 hideSliderAtLimit:0,
				 
						 fullWidth:"on",
						 fullScreen:"off",
				 
						 shadow:0
				 
					  });
				 
				   });
									
               

			
            /* =========================================
            ---- Bootstrap ScrollSpy Plugin
            =========================================== */
            tpj('body').scrollspy({ target: '#nav-container' });
            
    
            /* =========================================
            ---- Scroll Animation
            =========================================== */
            tpj('#nav').find('a').on('click', function(e) {
                var tpjthis= tpj(this),
                    dataTarget = tpjthis.attr('href'),
                    targetPosition = tpj(dataTarget).offset().top;
                    
                    tpj('html, body').animate({ scrollTop : targetPosition }, 1600);
                    e.preventDefault();
                    // refresh scrollspy plugin
                    tpj('body').scrollspy('refresh');
            });
            
            
            /* =========================================
            ---- Portfolio  Filter / Isotope Plugin
            =========================================== */
            
                var tpjcontainer = tpj('.portfolio-item-container');

                    function CalcWidth() {
                        var widthPort = tpj('.portfolio-item-container').find('.col-md-3').outerWidth(),
                            widthPortBig = tpj('.portfolio-item-container').find('.col-md-6').outerWidth();
                        tpj('.portfolio-item-container').find('.col-md-3').css('width', Math.floor(widthPort) -1);
                        tpj('.portfolio-item-container').find('.col-md-6').css('width', Math.floor(widthPortBig) -1);
                    }
                    
                    tpjcontainer.imagesLoaded(function() {
                        // New Width 
                        CalcWidth();
                        // initialize isotope
                        tpjcontainer.isotope({
                        itemSelector : '.portfolio-item',
                        masonry : {
                            columnWidth : 1
                        },
                        animationEngine: 'best-available'
                    });
                    
                    
                    // filter items when filter link is clicked
                    tpj('#portfolio-filters').find('a').on('click', function(e) {
                        var selector = tpj(this).attr('data-filter');
                        tpj('#portfolio-filters').find('.active').removeClass('active');
                        tpjcontainer.isotope({ filter: selector });
                        tpj(this).addClass('active');
                        e.preventDefault();
                    });
                    
                    
                    });
                
                
            });
        <!-- Google Analytics: change UA-44040753-1 to be your site's ID. -->

              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
              ga('create', 'UA-44040753-1', 'eonythemes.com');
              ga('send', 'pageview');
              
        </script>
    </body>
</html>